<a href="https://colab.research.google.com/github/PolamVarsha2001/Assignment-1/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
year=int(input("Enter Year : "))
rem=year%12
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(d[rem])

Enter Year : 14
dog

In [4]:
a=int(input("Distance to be Travel: "))
b=int(input("Weight of the goods: "))
if a>=500:
  if b>=100:
    print("Amount to be charged: "+str(a*5))
  elif 10<=b<100:
    print("Amount to be charged: "+str(a*6))
  elif b<10:
    print("Amount to be charged: "+str(a*7))
else:
  if b>=100:
    print("Amount to be charged: "+str(a*8))
  else:
    print("Amount to be charged: "+str(a*5))

Distance to be Travel: 520
Weight of the goods: 100
Amount to be charged: 2600

In [9]:
a=input("Type of Seat: ")
b=input("Payment Mode: ")
if a=="stalls":
  if b=="cash":
    print(625-(625*0.1))
  elif b=="credit":
    print(625-(625*0.05))
  else:
      print("sorry!Wrong Input")
elif a=="circle":
  if b=="cash":
    print(750-(750*0.1))
  elif b=="credit":
    print(750-(750*0.05))
  else:
    print("sorry!Wrong Input")
elif a=="upper class":
  if b=="cash":
    print(850-(850*0.1))
  elif b=="credit":
    print(850-(850*0.05))
  else:
   print("sorry!Wrong Input")
elif a=="box":
  if b=="cash":
    print(1000-(1000*0.1))
  elif b=="credit":
    print(1000-(1000*0.05))
else:
  print("sorry!Wrong Input")

Type of Seat: circle
Payment Mode: cash
675.0

In [10]:
m=int(input("Weight of water in kilograms:"))
i=int(input("intital temperature:"))
f=int(input("final temperature:"))
Q=m*(f-i)*4148
print(Q)

Weight of water in kilograms:100
intital temperature:50
final temperature:90
16592000

In [12]:
m=input("Enter month:")
if m=="December" or m=="January" or m=="February":
  print(str("Winter"))
elif m=="March" or m=="April" or m=="May":
  print(str("Spring"))
elif m=="June" or m=="July" or m=="August":
  print(str("Summer"))
elif m=="September" or m=="October" or m=="November":
  print(str("Autumn"))
else:
  print("Sorry!You have given wrong input")

Enter month:January
Winter

In [15]:
w=float(input("Enter weight in pounds:"))
h=float(input("Enter height in inches:"))
w=w*0.45359237
h=h*0.0254
x=w/(h*h)
print("BMI:"+str(x))
if x<18.5:
  print("Person is underweight")
elif 18.5<=x<25.0:
  print("Person is Normal")
elif 25.0<=x<35.0:
  print("Person is overweight")
else:
  print("Person is obese")

Enter weight in pounds:50
Enter height in inches:240
BMI:0.6103034545478813
Person is underweight

In [18]:
n=int(input("Enter an interger fro 100 to 1000: "))
sum=0
if 100<n<1000:
  while(n!=0):
    x=int(n%10)
    sum=sum+x
    n=int(n/10)
  print(sum)
else:
  print("Input must be in between 100 and 1000")

Enter an interger fro 100 to 1000: 234
9

In [60]:
print("palindrome numbers from 1 to 1000 are : ")
for n in range(1,1000):
  temp=n
  rev=0
  while temp>0:
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
  if n==rev:
    print(n)

palindrome numbers from 1 to 1000 are :
1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [65]:
print("amstrong numbers from 1 to 1000 are : ")
for num in range(1,1000):
  temp=num
  sum=0
  while temp>0:
    rem=temp%10
    sum=sum+(rem**3)
    temp=temp//10
  if num==sum:
    print(num)

amstrong numbers from 1 to 1000 are :
1
153
370
371
407

In [32]:
for num in range(1,100):
  if num%3==0 and num%5==0:
    print("fizz buzz")
  elif num%5==0:
    print("Buzz")
  elif num%3==0:
    print("Fizz")
  else:
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [42]:
H=int(input("Enter height of the well : "))
U=int(input("Enter no of meters it climbs for each step : "))
D=int(input("Enter meters it slips down in each step : "))
count=1
u=U
while u<H:
  u=u-D
  count=count+1
  u=u+U
  if u==H:
    count=count+1
print(count)

Enter height of the well : 500
Enter no of meters it climbs for each step : 20
Enter meters it slips down in each step : 15
98